#bandeau{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0px;
    background-color: #F87060;
}

*{
    box-sizing: border-box;
}

#logo{
    width: 3.5%;
    vertical-align: bottom;
}

#bandeau h1{
    font-size: 20px;
}

#gestion_user{
    text-align: center;
    padding: 17px;
    padding-right: 0;
}

#gestion_user a {
    padding: 17px;
    text-decoration: none;
    border: 1px solid black;
}

#categories_menu{
    width: 50%;
    margin: 0 auto;
}

#menu{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.item_menu{
    border: 1px solid red;
    border-radius: 20px;
    margin-right: 20px;
    width: 200px;
    text-align: center;
    padding: 7px;
}

.link{
    text-decoration: none;
    color: black;
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    width: 100%;
    bottom: 0;
}

body{
    width: 100%;
    height: 100%;
}

html {
    height: auto;
}
