{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ produit.nom }}</td>
            </tr>
            <tr>
                <th>Prix_unitaire</th>
                <td>{{ produit.prixUnitaire }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description2}}</td>
            </tr>
        </tbody>
    </table>

    <button><a href="/panier/add?id_produit={{produit.id}}">Ajouter au panier </a></button>
{% endblock %}
