<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="/css/base.css" >
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <header>

        <div id="bandeau">
            <img src="/images/logo.png" alt="logo" id="logo" />

            <div>
                {% block connexion %}
                    <a href="/user/new" class="link_menu">Créer un compte </a>
                    <a href="/user/" class="link_menu"> Connexion </a>
                {% endblock %}
            </div>
        </div>

        <div id="categories_menu">
            <ul id="menu">
                {% for categorie in categories %}
                    <li class="item_menu"><a href=path('/') class="link"> {{ categorie.nom }} </a></li>
                {% else %}
                    <li> Aucune catégorie </li>
                {% endfor %}
            </ul>
        </div>

    </header>

    <body>
        {% block body %}{% endblock %}
    </body>
</html>
